.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .element-row {
    position: relative;
  }
  
  .element-row:not(.expanded) {
    cursor: pointer;
  }
  
  .element-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  
  .element-row.expanded {
    border-bottom-color: transparent;
  }

  .attribute-header {
    text-align: center;
  }

  .btn {
    font-size: 13px;
}

.red-btn {
  background-color: #f44336;
  border-color: #f44336;
}

.btn-create {
  margin-top: 15px;
  float: right;
}


::ng-deep .mat-form-field .mat-input-element {
	color: white;
}

::ng-deep .mat-form-field .mat-form-field-label {
	color: white;
}

::ng-deep .mat-form-field .mat-form-field-underline {
	background-color: white;
}

::ng-deep .mat-form-field .mat-form-field-ripple {
	background-color: white;
}

::ng-deep .mat-form-field .mat-form-field-required-marker {
	color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
	color: #007bff;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
	background-color: #007bff;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
	color: #007bff;
}

::ng-deep .mat-form-field.mat-focused .mat-input-element {
	color: #007bff;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
}