<div *ngIf = "loading">
  <br/>
  <mat-spinner class="centered" color="warn"></mat-spinner>
</div>

<div *ngIf = "!loading">
<div class="example-header">
    <mat-form-field> 
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource" matSort>
  
          <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
          <!-- ID Column -->
          <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
          </ng-container>
  
          <!-- Name Column -->
          <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
          </ng-container>
  
          <!-- Date of Hire Column -->
          <ng-container matColumnDef="hireDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Hire </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.hireDate | dateFormat}} </mat-cell>
          </ng-container>
  
         <!-- Address Column -->
         <ng-container matColumnDef="address">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
          </ng-container>

          <!-- Has a Car Column -->
         <ng-container matColumnDef="hasCar">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Car </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hasCar | carBooleanTransform}} </mat-cell>
         </ng-container>

         <!-- Birth Date Column -->
         <ng-container matColumnDef="birthDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.birthDate | dateFormat}} </mat-cell>
         </ng-container>

         <!-- Supervisor Column -->
         <ng-container matColumnDef="supervisorId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Supervisor ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.supervisorId}} </mat-cell>
         </ng-container>

  
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
          </mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
  </div>
  
  <ng-template #tpl let-element>
      <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
        <div class= "card">
        <a [routerLink]="[employeeFormRoute]" [queryParams]="{id:element.id}" class="btn btn-primary">Edit</a>
        <a [href] ="[employeeRoute]" class="btn btn-primary red-btn" (click) = deleteEmployee(element.id)>Delete</a>
        </div>
        <div class = "attribute-header">
            <div *ngIf = "element.employeeAttributes.length">Attributes</div>    
              <div class= "card" *ngFor="let attribute of element.employeeAttributes">
                   <div class= "card-text">{{ attribute.attributeName }} : {{ attribute.attributeValue }}</div>
              </div>
        </div>
    </div>
  </ng-template>
  <a [routerLink]="[employeeFormRoute]" class="btn btn-primary btn-create">Add Employee</a>
        
  </div>
  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->    