<div> 
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button [routerLink]= "[homeRoute]" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">Home</a>
      <a mat-button [routerLink]= "[profileRoute]" routerLinkActive = "active">Profile</a>
      <a mat-button [routerLink]= "[employeeRoute]" routerLinkActive = "active">Employees</a>
      <a mat-button [routerLink]= "[attributesRoute]" routerLinkActive = "active">Attribute</a>
      <a mat-button [routerLink]= "[mapRoute]" routerLinkActive = "active">Map</a>
      <a mat-button (click)="logout()" routerLinkActive = "active">Logout</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button [routerLink]= "[homeRoute] " routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}">Home</a>
        <a mat-button [routerLink]= "[profileRoute]" routerLinkActive = "active">Profile</a>
        <a mat-button [routerLink]= "[employeeRoute]" routerLinkActive = "active">Employees</a>
        <a mat-button [routerLink]= "[attributesRoute]" routerLinkActive = "active">Attribute</a>
        <a mat-button [routerLink]= "[mapRoute]" routerLinkActive = "active">Map</a>
        <a mat-button (click)="logout()" routerLinkActive = "active">Logout</a>
      </div>
    </mat-sidenav>
   

<!-- main app container with routes is loaded here -->   
<mat-sidenav-content fxFlexFill class = "custom">    
<div class="container">
  <router-outlet></router-outlet>
</div>
</mat-sidenav-content>
  </mat-sidenav-container>
</div>
